.main-container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
}
.main-container .trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color .3s;
}
.main-container .trigger:hover {
  color: #1890ff;
}
.main-container .logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}
.main-container .layout-header {
  background: #fff;
  padding: 0;
}
.main-container .content-container {
  padding: 15px;
  overflow-y: scroll;
}
